<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.camden.rssviewer4"
        versionCode="10" 
        version   = "5.0.0">

    <name>RSS Viewer</name>

    <description>
        A simple RSS Viewer. 
    </description>

    <author href="http://www.pabloanello.com" email="pabloanello@gmail.com">
        Pablo Anello
    </author>

    <preference name="phonegap-version" value="2.9.0" />

    <icon src="icons/Feed_128x128.png" />

    <gap:plugin name="com.phonegap.plugins.childbrowser" />

</widget>